base.map
a
.claude/

scripts/*.ir
scripts/out/*

repos/*
logs/*
out/*

autotests/*.ts
autotests/*.ast
autotests/*.abc
autotests/*.json
autotests/tmp/*
autotests/status_outputs/*
autotests/bak_status_outputs/*
autotests/history/*


.vscode
*.abc
*.log
*.o
*.xml
*.pa
*.abc
*.ts
*.ast
*.swp

!tests/*.ts

# dependencies
ui/node_modules/
ui/target/

# logs
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*

# OS / IDE
ui/.DS_Store
ui/Thumbs.db
ui/.idea/
ui/.vscode/


ui/src-tauri/gen/
