base.map
a

scripts/*.ir
scripts/out/*

repos/*
logs/*
out/*

autotests/*.ts
autotests/*.ast
autotests/*.abc
autotests/*.json




.vscode
*.abc
*.log
*.o
*.xml
*.pa
*.abc
*.ts
*.ast
*.swp

!tests/*.ts
